@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200;400;600&display=swap');


*{
    margin:0;
    padding:0;
    font-family: 'Inconsolata', monospace;
}


body {
    color: aliceblue;

}
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding: 20px;
    border-bottom: .5px solid white;
    box-shadow:1px 2px 25px 2px ;
    font-size: 40px


}
.boton {
    width: 130px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid rgb(63, 63, 252);
    border-radius: 10px;
    background-color: rgba(106, 252, 252, 0.199);
    color: white;
}
.boton:hover {
    box-shadow: 1px 1px 10px;
}
main {
    width: 100%;
    height: 80vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "caja1 .... caja2"
    ".... centro ...."
    "caja3 .... caja4";
}
.centro {
    grid-area: centro;
}
#titulo { 
    
    border: 1px solid white;
    padding: 20px;
    border-radius:10px;
    font-size: 60px;
    text-shadow: 1px 1px 19px ;
    box-shadow: 1px 1px 20px;
    transition: .2s;
    
}
#titulo.hola {
    box-shadow: inset 1px 1px 20px;
    border: 3px solid greenyellow;


}
#titulo:hover {
    
    padding: 35px;
    box-shadow: inset 1px 1px 20px;
}
.caja {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h2 {
    border: 1px solid white;
    padding: 50px;
    border-radius:10px;
    box-shadow: inset 1px 1px 30px;
    transition: .2s;
}
h2.algo {
    border: 1px solid red;
    grid-area: caja1 ;

}

h2:hover {
    
    box-shadow:  1px 1px 30px;
}
.caja1 {
    grid-area: caja1;
}
.caja2 {
    grid-area: caja2;
}
.caja3 {
    grid-area: caja3;
}
.caja4 {
    grid-area: caja4;
}
video {
    width: 100%;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    z-index: -1;
}
footer {
    bottom: 0;
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    border-top: .5px solid white;
    box-shadow:1px 2px 25px 2px ;
    font-weight: bold;
    font-size: 40px;
}
    
    
    
/**/
.cuerpo {
    background-image: "./img/";
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 100vh;
    background: #1a0321;
    font-family: consolas;

}
.btn-neon {
    position: relative;
    display:inline-block;
    padding:15px 30px;
    color:#fff;
    letter-spacing:4px;
    font-size: 24px;
    text-decoration:none;
    overflow:hidden;
    transition: 0.2s;
 
}
.btn-neon:hover {
    background: #a945c7;
    box-shadow:0 0 10px #a945c7, 0 0 40px  #a945c7, 0 0 80px  #a945c7;
    transition-delay:1s;

}
.btn-neon span {
    position: absolute;
    display:block;
}
#span1 {
    top:0;
    left: -100%;
    width:100%;
    height:2px;
    background: linear-gradient(90deg,transparent, #a945c7);
}
.btn-neon:hover  #span1 {
    left: 100%;
    transition:1s;
}



#span3 {
    bottom:0;
    right: -100%;
    width:100%;
    height:2px;
    background: linear-gradient(270deg,transparent, #a945c7);
}
.btn-neon:hover  #span3 {
    right: 100%;
    transition:1s;
    transition-delay: .5s;
}



#span2 {
    top: -100% ;
    right: 0;
    width:2px;
    height:100%;
    background: linear-gradient(180deg,transparent, #a945c7);
}
.btn-neon:hover  #span2 {
    top: 100%;
    transition:1s;
    transition-delay: .25s;
}

#span4 {
    bottom: -100% ;
    left: 0;
    width:2px;
    height:100%;
    background: linear-gradient(360deg,transparent, #a945c7);
}
.btn-neon:hover  #span4 {
    bottom: 100%;
    transition:1s;
    transition-delay: .75s;
}
.cuerpo a {
    text-shadow: 2px 2px 20px, 2px 2px 80px, 2px 2px 10px;
}
.cajita {
    margin-top: 10px;
    border
}



/* ----------------------------------------------
 * Generated by Animista on 2023-9-20 21:19:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @keyframes rotate-center{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}
 /* ----------------------------------------------
 * Generated by Animista on 2023-9-20 21:21:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes scale-up-center{0%{transform:scale(.5)}100%{transform:scale(1)}}